<div id="menu">
  <div class="btn-group-vertical mb-2">
    <button type="button" data-toggle="tooltip" data-placement="left" title="Guardar" class="btn btn-secondary"><i class="material-icons">save</i></button>
    <button type="button" data-toggle="tooltip" data-placement="left" title="Compartir" class="btn btn-secondary"><i class="material-icons">share</i></button>
  </div>
  <div class="btn-group-vertical">
    <button type="button" data-toggle="tooltip" data-placement="left" title="Configuración" class="btn btn-primary"><i class="material-icons">settings</i></button>
  </div>
</div>
